@using System.Reflection
<div class="content-block">
    <div class="content-footer">
        Copyright &copy; 2021-@DateTime.Now.Year @Assembly.GetExecutingAssembly().GetName().Name
    </div>
</div>